body{
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    padding: 5px;
    background-color: rgb(243, 188, 224);
    border: 5px solid black;
}
div {
    margin: 20px auto;
    padding: 20px;
    max-width: 1000px;
    background: #af4c70;
}
header{
text-align: center;
background: #af4c70;
color: black;
padding: 20px;
}
header h1 {
    margin: 0;  
    font-size: 2em; 
}
header p {
    font-size: 1em;  /* Sets the font size */
    margin: 7px;  /* Adds margin to the paragraph */
}
h1,h2{
    margin-top: 0;
    font-size: 2em;
    color:black;
    text-align: center;
}

ul {
    list-style-type: square;
    padding: 2px;
}

ul li {
    margin-bottom: 10px;
}

a{
    color: #070974;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    list-style-type: none;
}

td {
  text-align:right;
}

section {
    margin-bottom: 10px;
}

@media (max-width: 600px)  {
    body {
        padding: 10px;
    }

    header h1 {
        font-size: 1.5em;
    }

    header p {
        font-size: 0.9em;
    }

    h1, h2 {
        font-size: 1.2em;
    }

    th, td {
        padding: 5px;
    }
}